.col-4 {
     background-color: lightseagreen;
     min-height: 200px;
     /* margin: 1%;
     padding: 1%; */
}

.col-8 {
     background-color: lightcoral;
     border-bottom: solid gray;
     border-top: solid gray;
     border-left: solid gray;
}

.row {
     margin: 2%;
}

.uv-low {
     color: green;
}

.uv-moderate {
     color: yellow;
}

.uv-high {
     color: red;
}   

.col-lg-5ths {
     width:20%
}
