.col-4 {
     background-color: lightseagreen;
     /* margin: 1%;
     padding: 1%; */
}

.col-8 {
     background-color: lightcoral;
}

.row {
     margin: 2%;
}

.uv-low{
     color: green;
}

.uv-moderate{
     color: yellow;
}

.uv-high{
     color: red;
}    